* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 2rem;
    border: 0;
    height: 2rem;
    width: 10rem;
    background-color: #ddd391;
    cursor: pointer;
}